# Notepad++
*.workspace

# Sass
*.sassc
.sass-cache

# Standard ruby ignores
*.rbc
capybara-*.html
.rspec
.bundle
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
**.orig
rerun.txt
pickle-email-*.html

# Standard ignores
*.lock
log/*
tmp/*